*{
    margin: 0;
    padding: 0;
    
    
}
.navbar {
    background-color: #3339;
    margin-top: 0;
}



.blog {
    text-align: center;
}
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }